# EditorConfig is awesome: https://EditorConfig.org
# Taken from https://github.com/dotnet/roslyn/blob/main/.editorconfig
# Modified slightly to better suit RiptideNetworking

# top-most EditorConfig file
root = false
