# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

# Top-most EditorConfig file
root = false

[*.{cs,vb}]

# Enforce file headers
file_header_template = This file is provided under The MIT License as part of RiptideNetworking.\nCopyright (c) Tom Weiland\nFor additional information please see the included LICENSE.md file or view it on GitHub:\nhttps://github.com/tom-weiland/RiptideNetworking/blob/main/LICENSE.md

# IDE0073: Incorrect/missing header
dotnet_diagnostic.IDE0073.severity = warning